.options {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #0d9cdb;
    color: white;
    padding-right: 40px;
    padding-bottom: 10px;
}

.options button {
    margin: 0 6px;
}

.options p {
    margin: 0;
}