.table-container {
    display: flex;
    justify-content: center;
}

table {
  border-collapse: collapse;
  margin-top: 30px;
  text-align: center;
  width: 65vw;
}

thead tr {
  background-color: #0d9cdb;
  color: #ffffff;
}

th, td {
  border: 1px solid #cccccc;
  padding: 4px;
}
