header {
    align-items: center;
    background-color: #0d9cdb;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

h1 {
    margin: 10px 0px;
}

nav a {
    color: #ffffff;
}

nav a:not(:first-of-type) {
    margin-left: 10px;
}